<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Crop Type</th>
        <th scope="col">Soil Type</th>
        <th scope="col">Humidity.</th>
        <th scope="col">Nitrogen</th>
        <th scope="col">Phosphorus</th>
        <th scope="col">Potassium</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let soil of allSoilDetails">
        <th scope="row">{{soil.SI}}</th>
        <td>{{soil.cropType}}</td>
        <td>{{soil.soilType}}</td>
        <td>{{soil.soilHumidity}}</td>
        <td>{{soil.soilN}}</td>
        <td>{{soil.soilP}}</td>
        <td>{{soil.soilK}}</td>
      </tr>
    </tbody>
  </table>
